---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const images = await getCollection('images');
---

<section
  id="gallery"
  class="px-gallery 1440:px-gallery-large z-20 relative py-10 backdrop-blur-lg rounded-tr-md shadow bg-dark">
  <div class="sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5">
    {
      images.map(({ data, id }) => {
        const mobile = data.src.width / 6;
        const desktop = data.src.width / 8;

        return (
          <div
            class={`max-w-[${mobile}] sm:max-w-[${desktop}] overflow-clip rounded-md`}>
            <a href={`/gallery/${id}`} data-astro-prefech>
              <Image
                src={data.src as ImageMetadata}
                alt={data.alt}
                quality="mid"
                transition:name={id}
                class="rounded-md mb-4 object-cover transition-transform duration-1000 ease-out hover:scale-105"
                widths={[mobile, desktop]}
                sizes={`(max-width: 600px) ${mobile}px, ${desktop}px`}
              />
            </a>
          </div>
        );
      })
    }
  </div>
</section>
